{% extends 'base.html.twig' %}
{% block title %}
    {{ 'Inscription' }}
{% endblock %}

{%block stylesheets%}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login_pokedex_style.css') }}">
{%endblock%}




{% block body %}

    <div class="main">

        <div id="container">
            <!------ LEFT SIDE ------>
            <div id="left-side">
                <!-- Rounded bordure left -->
                <div id="round-bordure-left-side"></div>
                <div id="round-bordure-left-side2"></div>
                <!-- Top left lights -->
                <div id="big-blue-light-background" class="light">
                    <div id="big-blue-light" class="light"></div>
                    <div id="big-blue-light-glint" class="light"></div>
                </div>
                <div id="little-lights">
                    <div class="light little-light red-light"></div>
                    <div class="light little-light yellow-light"></div>
                    <div class="light little-light green-light"></div>
                </div>
                <!-- Left side big screen with red lights -->
                <div id="screen-left-background">
                    <div id="screen-left-little-lights">
                        <div class="screen-left-little-red-light light"></div>
                        <div class="screen-left-little-red-light light"></div>
                    </div>
                    <!-- Screen for the Pokemon images -->
                    <div id="screen-left">
                        <img id="screen-left-image" src="" alt="">
                        <p style="color:white; text-align: center">Bonjour! <br><br> Entrez vos données personnelles pour commencer une aventure avec nous</p>
                    </div>
                    <div id="screen-left-big-red-light" class="light"></div>
                    <div id="screen-left-burger">
                        <div id="screen-left-burger-inside"></div>
                    </div>
                </div>

                <!-- Console -->
                <div id="elongated-buttons">
                    <div class="elongated-button elongated-button1 clickable"></div>
                    <div class="elongated-button elongated-button2 clickable"></div>
                </div>
                <div id="rounded-button" class="clickable"></div>
                <div id="screen-left-little"></div>

                <!-- Cross used to choose the Pokemon -->
                <div id="cross">
                    <div class="cross cross-top clickable">
                        <div class="arrow arrow-top"></div>
                    </div>
                    <div class="cross cross-mid"></div>
                    <div class="cross cross-bottom clickable">
                        <div class="arrow arrow-bottom"></div>
                    </div>
                    <div class="cross cross-left clickable">
                        <div class="arrow arrow-left"></div>
                    </div>
                    <div class="cross cross-right clickable">
                        <div class="arrow arrow-right"></div>
                    </div>
                </div>
            </div>

            <!------ MIDDLE ------>
            <!-- Bindings -->
            <div class="binding">
                <div class="hinge hinge1"></div>
                <div class="hinge hinge2"></div>
                <div class="hinge hinge3"></div>
            </div>

            <!------ RIGHT SIDE ------>
            <div id="right-side">
                <!-- Rounded bordure right -->
                <div id="round-bordure-right-side"></div>
                <!-- Right side screen -->
                <div id="screen-right">
                    <div class= "container b-container is-txl is-z200" id="b-container">
                        {{ form_start(form, {'attr': {'class': 'form','id': 'a-form'}}) }}
                        {{form_row(form.username, {'attr': {'class': 'form__input','placeholder': 'Username'}})}}
                        {{form_row(form.email, {'attr': {'class': 'form__input','placeholder': 'Email'}})}}
                        {{form_row(form.password, {'attr': {'class': 'form__input','placeholder': 'Password'}})}}
                        {{form_row(form.repeat_password, {'attr': {'class': 'form__input','placeholder': 'ConfirmPassword'}})}}

                    </div>
                </div>
                <!-- Right side keyboard -->
                <div id="keyboard">
                    <div class="key"></div>
                    <div class="key"></div>
                    <div class="key"></div>
                    <div class="key"></div>
                    <div class="key"></div>
                    <div class="key"></div>
                    <div class="key"></div>
                    <div class="key"></div>
                    <div class="key"></div>
                    <div class="key"></div>
                </div>
                <!-- Right elongated lights -->
                <div id="elongated-lights">
                    <div class="key light"></div>
                    <div class="key light"></div>
                </div>
                <!-- Right side yellow light -->
                <div id="right-side-yellow-light" class="light"></div>
                <!-- Right side white buttons -->
                <div id="white-buttons">
                    <div class="key clickable"></div>
                    <div class="key clickable"></div>
                </div>
                <!-- Right side grey buttons -->
                <div id="grey-buttons">
                    <div class="key">
                        <p>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <button class="form__button button " type="submit">S'inscrire</button>
                            {{ form_end(form) }}
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="switch is-txr" id="switch-cnt">
            <div class="switch__circle"></div>
            <div class="switch__circle switch__circle--t"></div>
            <div class="switch__container" id="switch-c1">
                <div class="link"><a href="{{path("app_login")}}"><span>connecter</span></a> </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}

{% endblock %}
